{% extends 'common/base.html' %}

{% block css %}
<link href="{{STATIC_URL}}plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css">
{% endblock css %}
{% block content %}

<div class="row">
  <div class="col-xs-12">
   <div class="box box-primary">
    <div class="actualizo_correctamente alert alert-success">
        Se actualizo correctamente el idioma
    </div>
    <div class="box-body">

      <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
            <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
             <thead>
              <tr>
                <th>N°</th>
                <th>Nombres</th>
                <th>Modficar / Guardar</th>
              </tr>
            </thead>
              <tbody class="listado_idioma">
              {% for idioma in idiomas %}
                <tr role="row" class="odd row-fila" >
                  <td class="sorting_1">{{forloop.counter}}</td>
                  <td class="nombre_idioma"><h5>{{idioma.nombre}}</h5><input type="hidden" data-pk="{{idioma.pk}}" class="input_modificar"></td>
                  <td><button type="button" class="btn btn-primary modficar_idioma">Modificar</button><button type="button" class="btn btn-success guardar_idioma guardar_none">Guardar</button>
                  </td>
                </tr>
               {% endfor %}
              </tbody>
              </table>
      </div>
      <div class="btn-group mb_20">
        <button type="button" id="agregar_idioma" class="btn btn-success">Agregar Idioma</button>
      </div>
      <form action="#" method="POST" id="form_idioma">
        <div class="cnt-formulario">
        </div>
        <button type="button" id="guarda_idioma" class="btn btn-success"><i class="fa fa-fw fa-save"></i> Guardar</button>
      </form>
    </div><!-- /.box-body -->
  </div>
</div>

{% endblock content %}
{% block javascript %}

<!-- FastClick -->

    <!-- DATA TABES SCRIPT -->

    <!-- SlimScroll -->
    <script src="{{STATIC_URL}}plugins/slimScroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <!-- FastClick -->

    <script src='{{STATIC_URL}}js/jquery_formset.js'></script>
     <script src='{{STATIC_URL}}js/cookies.js'></script>
    <!-- AdminLTE App -->

    <script type="text/javascript">

      $(document).ready(function() {
        $("body").on('click', '#agregar_idioma', function(event) {
            /* Act on the event */
            event.preventDefault()
            var contador_formulario = $(".formulario_inicial").length + 1
            html = '<div class="formulario_inicial form-group"><label for="">Nombre del Idioma </label> <input type="text" class="idioma_nombre" name="idioma"></div>'
            $(".cnt-formulario").append(html)

        });
        $("#guarda_idioma").click(function(event) {
            /* Act on the event */
            var arreglo_idiomas = new Array()
            var contador_listado = $(".listado_idioma tr").length
            $(".idioma_nombre").each(function(index, el) {
                arreglo_idiomas.push($(this).val())
            });
            $.ajax({
                url: '{% url "idioma:api_idioma_agregar" %}',
                type: 'POST',
                data: {'idioma': JSON.stringify(arreglo_idiomas)},

            })
            .done(function(data) {
                console.log(data)
                if (data!='error'){
                    $(".formulario_inicial").fadeOut('500', function() {
                        $(this).remove()
                    });
                    $.each(data.listado, function(index, val) {
                         /* iterate through array or object */
                        contador_listado = contador_listado + 1
                        html = '<tr role="row" class="odd row-fila" ><td class="sorting_1">'+contador_listado+'</td><td class="nombre_idioma"><h5>'+val.nombre+'</h5><input type="hidden" data-pk="'+val.id+'" class="input_modificar"></td><td><button type="button" class="btn btn-primary modficar_idioma">Modificar</button><button type="button" class="btn btn-success guardar_idioma guardar_none">Guardar</button></td></tr>'
                        $(".listado_idioma").append(html)
                    });
                }
            })
        });
        $("body").on('click', '.modficar_idioma', function(event) {
            /* Act on the event */
            event.preventDefault()
            var padre_fila = $(this).closest('.row-fila')
            var texto = padre_fila.find('.nombre_idioma h5').text()
            padre_fila.find('.input_modificar').val(texto);
            padre_fila.find('.input_modificar').attr('type', 'text');
            padre_fila.find('.nombre_idioma h5').text("")
            padre_fila.find('.guardar_idioma').removeClass('guardar_none').addClass('guardar_block')
            padre_fila.find('.modficar_idioma').addClass('guardar_none')
        });
        $("body").on('click', '.guardar_idioma  ', function(event) {
            event.preventDefault();
            var padre_fila = $(this).closest('.row-fila')
            var pk = padre_fila.find('.input_modificar').attr('data-pk');
            var texto = padre_fila.find('.input_modificar').val()
            if (texto) {
                $.ajax({
                    url: '{% url "idioma:api_idioma_actualizar" %}',
                    type: 'POST',
                    data: {
                        'idioma_pk': pk,
                        'idioma_nombre': texto
                    },
                })
                .done(function(data) {
                    if (data.status == "ok") {
                        $(".actualizo_correctamente").addClass('actualizo_fade')
                        padre_fila.find('.nombre_idioma h5').text(texto)
                        padre_fila.find('.input_modificar').attr('type', 'hidden');
                        padre_fila.find('.guardar_idioma').removeClass('guardar_block').addClass('guardar_none')
                        padre_fila.find('.modficar_idioma').removeClass('guardar_none')
                        setTimeout(function(){
                          $(".actualizo_correctamente").removeClass('actualizo_fade')
                        }, 2000);
                    }
                })
            };


            /* Act on the event */
        });
      });
    </script>
{% endblock javascript %}
