{% extends 'common/base.html' %}
{% block css %}
<link href="{{STATIC_URL}}plugins/iCheck/all.css" rel="stylesheet" type="text/css">
{% endblock css %}
{% block content %}

<div class="row">
  <div class="col-xs-12">
    <div class="box box-primary">
      <div class="box-header">
        <h3 class="box-title">
          Agregar el ciclo para el idioma <strong>{{idioma.nombre}}</strong> y nivel <strong>{{nivel.nombre}}</strong>
        </h3>

      </div>
      <div class="box-body">
      <form action="#" method="POST">
        {% csrf_token %}
        {{ nivelFormSet.management_form }}
        {% for nivel_idioma in nivelFormSet %}
            <div class="form-group form-nivel-idioma">
              <input type="hidden" {% if nivel_idioma.id.value %}value="{{nivel_idioma.id.value}}"{% endif %} name="{{nivel_idioma.id.html_name}}">
              <input type="hidden" value="{{idioma.pk}}" name="{{nivel_idioma.idioma.html_name}}">
              <input type="hidden" value="{{nivel.pk}}" name="{{nivel_idioma.nivel_idioma.html_name}}">
              <label for="">Nombre</label>
              <input type="text" name="{{nivel_idioma.nombre.html_name}}" {% if nivel_idioma.nombre.value %}value="{{nivel_idioma.nombre.value}}"{% endif %}>
              <label for="">Eliminar</label>
              <input type="checkbox" name="{{nivel_idioma.DELETE.html_name}}" class="flat-red">
            {{nivel_idioma.errors}}
            </div>
        {% endfor %}
        <button class="btn btn-success">Guardar</button>
      </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block javascript %}
<script src="{{STATIC_URL}}plugins/iCheck/icheck.min.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}js/jquery_formset.js"></script>
<script>
    $(document).ready(function() {

        $('.form-nivel-idioma').formset({
            formCssClass: 'factura-form',
            prefix: "{{ nivelFormSet.prefix }}",
            deleteText: '',
            addText: 'Agregar',
            addCssClass: 'btn btn-success'
        });
    });

</script>
{% endblock javascript %}
