{% extends 'common/base.html' %}
{% block content %}

<div class="row">
  <div class="col-xs-12">
    <div class="box box-primary">
      <div class="box-header">
        <h3 class="box-title">
        	Listado de Profesores
        </h3>
      </div>
      <div class="box-body">
      	<div class="btn-group mb_20">
			<form action="#" method="GET">
				<select name="pcantidad" class="float-left" id="paginador">
				<option value="2" {% if pagina_cantidad == "2" %}selected{% endif %}>2</option>
				<option value="25" {% if pagina_cantidad == "25" %}selected{% endif %}>25</option>
				<option value="50" {% if pagina_cantidad == "50" %}selected{% endif %}>50</option>
				<option value="100" {% if pagina_cantidad == "100" %}selected{% endif %}>100</option>
				</select>
				<div class="buscador">
					<input type="text" value="{{request.GET.buscar}}" name="buscar" placeholder="Buscar" class="form-control">
				</div>
				<button id="filtros" class="btn btn-success btn-radius"><i class="fa fa-search"></i> Filtrar
				</button>
				<a href="{% url 'alumno_profesor:profesor_crear' %}" id="link_agregar_ciclo" class="tooltip_agregar btn btn-success btn-radius"><i class="fa fa-edit "></i> Agregar Profesor</a>

            </form>
        </div>
		<div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
            <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
             <thead>
              <tr>
                <th>N°</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>codigo profesor</th>
                <th>Estado</th>
              </tr>
            </thead>
              <tbody class="listado_idioma">
              {% for profesor in profesores %}
                <tr role="row" class="odd row-fila" >
                  <td class="sorting_1">{{forloop.counter}}</td>
                  <td class="nombre_idioma"><a href="">{{profesor.nombres}}</a></td>
                  <td>{{profesor.apellidos}}</td>
                  <td>{{profesor.codigo_profesor}}</td>
                  <td>{% if profesor.estado %}
                  	Activo
                  	{% else %}
                  	Deshabilitado
                  {% endif %}</td>

                </tr>
               {% endfor %}
              </tbody>
              </table>
      	</div>
      	<div id="listado_paginas">
          	<ul>
                {% if profesores.has_previous %}
                <li id="anterior"><a href="" data-pagina="{{profesores.previous_page_number}}"><</a></li>
                {% endif %}
                {% for pagina_link in profesores.paginator.page_range %}
                <li><a href="?pag={{pagina_link}}" {% if pagina_link|lower == pagina|lower %}class="active"{% endif %} data-pagina="{{pagina_link}}">{{pagina_link}}</a></li>
                {% endfor %}
                {% if profesores.has_next %}
                <li id="siguiente"><a href="" data-pagina="{{profesores.next_page_number}}">></a></li>
                {% endif %}
             </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block javascript %}
<script src="{{STATIC_URL}}js/common.js"></script>
{% endblock javascript %}
