/*generales*/
.float-left{
  float: left;
}


.solo_nombre{
  height: 70px !important;
}
.position_left_cero{
  left: 0px !important;
}
.color_white{
  background: white !important;
}
.logo{
  color:#3c8dbc !important;
}
.logo-lg img {
  display: block;
}
.icheckbox_flat-blue{
  display: block !important;

}

.login_logo{
  background: white;
  display: block !important;
  padding: 10px 0px;
}
.login_logo img{
  display: block !important;
  margin: auto;
}
.mb_20{
  margin-bottom: 20px;
}
.input_errores{
  color:#d73925 !important;
  margin: 5px 0px;

}
.strong{
  font-weight: 700;
}

.prelative{
  position: relative;
}
//capa para check
.capa{
  position: relative;
}
.capa:before{
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  background: white;
  opacity: 0;
  width: 30px;
  height: 30px;
  z-index: 2;
}
.guardar_none{
  display: none;
}
.guardar_block{
  display: block;
}
.actualizo_correctamente{
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 15px;
  padding: 15px 30px;
  opacity: 0;
  z-index: 9999;
  transition:0.5s ease all;
}

.actualizo_fade{
  opacity: 1 !important;
}
.margin-right-20{
  margin-right: 20px;
}
#agregar_idioma{
  margin-right: 20px;
}
.btn-radius{
  border-radius: 5px !important;
}
#select_idiomas, #select_nivel, #paginador{
  height: 35px;
  float: left;
  margin-right: 5px;
}
#filtros{
  margin-right: 12px;
  margin-left: 12px;
}
.titulo_nivel{
  margin-left: 50px;
}


/*paginador*/
// colores
amarillo = #F39C12
azul = #3C8DBC
rojo = #D73925
plomo = #d2d6de
//generales
input, select
  padding-left 5px
  padding-right 5px
  margin 0px 5px
  height 30px !important
  box-shadow none
  border 1px solid plomo
  border-radius 5px !important
.buscador
  float left
.overflow
  overflow hidden
.centrar-label
  margin 5px 0px
#listado_paginas ul
  #anterior, #siguiente
    a
      background azul
  li
    list-style-type: none;
    margin 0px 5px 15px 5px
    a
      color white
      background azul
      padding 4px 10px
      font-size 16px
      border-radius 50%
      transition 0.3s ease all
    .active
      background amarillo !important
    &:hover
      a
        background amarillo

#listado_paginas ul
  margin auto
  width 80%
  display: flex;
  padding-left:0px;
  justify-content center
  flex-wrap:wrap;


.tooltip_agregar
  span
    border-radius:4px;
    box-shadow: 5px 5px 8px #CCC;
    z-index:10;
    display:none;
    padding:14px 20px;
    margin-top:-30px;
    margin-left:28px;
    width:340px;
    line-height:16px;
.aparecer-alerta
  display:inline !important
  position:absolute;
  color: white;
  border:1px solid #DCA;
  background:rojo

