<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
		h1{
			font-size: 24px;
			text-align: center;
		}
		h2{
			font-size: 18px;
			display: inline-block;
			width:400px;
		}
		.columna{
			width:400px;
			display: inline-block;
		}
	</style>
</head>
<body>
	<h1>Matricula {{programacion}}</h1>
	<section class="cnt-general">
		<div class="row">
			<div class="columna">
				<h2>Alumno: {{alumno}}</h2>
			</div>
			<div class="columna">
				<h2>Recibo: {{recibo}}</h2>
			</div>
		</div>
	</section>
</body>
</html>
